{erl_opts, [debug_info]}.

{deps_dir, ["apps"]}.

{deps, [{tempile, "1", {git, "http://github.com/russelldb/tempile.git", {branch, "erlydtl"}}},
       		  {mochiweb, "1.5.0", {git, "https://github.com/mochi/mochiweb.git", "HEAD"}}]}.

{sub_dirs, ["apps/erlydtl", "apps/tempile", "apps/bracket", "apps/mochiweb", "rel"]}.

{cover_enabled, true}.
