{erl_opts, [debug_info]}.

{deps_dir, ["apps"]}.

{deps, [{tempile, "1", {git, "http://github.com/russelldb/tempile.git", {branch, "erlydtl"}}},
       		  {webmachine, "1.8.0", {git, "https://github.com/basho/webmachine.git", "HEAD"}}]}.

{sub_dirs, ["apps/erlydtl", "apps/tempile", "apps/bracket", "apps/mochiweb", "apps/webmachine", "rel"]}.

{cover_enabled, true}.
