h4 {
    margin: 0;
    padding: 0
}

#panel {
    background: #fff;
    width: 35%;
    display: none;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    border: 1px solid black;
    padding: 0 0.5em 0 0.5em;
}

#canvas {
    position: relative;
}

.lefty {
    float:left;
    width:50%;
}

.righty {
    float:right;
    width: 50%;
}

input {
    margin-bottom: 0.3em
}

.pointer {
    cursor: pointer;
}
